include README.md
include LICENSE
include pyproject.toml
include setup.cfg
include setup.py
recursive-include src/spyllm *.py
recursive-include tests *.py
recursive-include examples *.py
recursive-include docs *.md